* {
  font-family: "Rubik", sans-serif;
  color: rgb(97, 97, 97);
}

.App {
  display: flex;
}

.userPanelApp {
  width: 46%;
  padding: 5px;
}

.productPanelApp {
  width: 54%;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 243, 247, 0.945);
  border: 0.3px solid rgb(228, 226, 226);
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
  .userPanelApp {
    width: 98%;
    margin-right: 15px;
  }
  .productPanelApp {
    width: 96%;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 13px;
  }
}

@media (max-width: 368px) {
  * {
    font-size: 10px;
  }

  .productPanelApp {
    width: 90%;
    margin-right: 10px;
  }
}
